<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>一碗书-体验最爽的免费小说网站|{{ book.title}}|将夜|蛮荒记|求魔|武动乾坤</title>
    <meta name="keywords" content="小说,言情小说,穿越小说,免费小说,小说下载,好看的小说,最新章节">
    <meta name="description" content="一碗书小说网,最好的免费小说阅读网站">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
          <h1 class="title">一碗书 </h1>  
      </div>  
      <div class="main">
        <div class="book_info">
          <div class="cover">
              <a href="#" title="{{book.title}}">
                  <img src="http://yiwanshu.com/media/covers/{{book.id}}.jpg" alt="{{book.title}}" width="150" height="200">
              </a>
          </div>
          <div class="infos">
            <div class="mb10">
                <h2>{{book.title}}</h2>
              <span class="status">连载中</span>
            </div>
            <span class="dis_b mb3">作者: <a href="#">{{book.author}}</a></span>
            <span class="dis_b mb30">分类: <a href="#">{{book.category.name}}</a></span>
            <div class="mb10">
              <a class="btn btn38 new" href="#">看最新</a>
              <a class="btn btn38 start" href="#">开始阅读</a>
            </div>
            <span class="latest">最新章节：<a href="/{{book.id}}/{{book.latest_chapter.id}}">{{book.latest_chapter.title|truncate(35, True) }}</a></span>
          </div>
          <div class="desc">
            <p>
                {{book.description}}
            </p>
          </div>
        </div>
        <div class="c_list">
          <div class="clearfix">
            <ol class="c_desc">
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li class="last">
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li class="last">
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li class="last">
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
            </ol>
          </div>
          <div class="more"><a href="#">「查看所有章节」</a></div>
          <div class="clearfix">
            <ol class="c_asc">
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li class="last">
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li>
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
              <li class="last">
                <a class="btn btn32" href=""><span>321·</span>第九十四章 生活就像巧克力啊这是阿甘说的</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
      
