<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>一碗书-体验最爽的免费小说网站|将夜|蛮荒记|求魔|武动乾坤</title>
    <meta name="keywords" content="小说,言情小说,穿越小说,免费小说,小说下载,好看的小说,最新章节">
    <meta name="description" content="一碗书小说网,最好的免费小说阅读网站">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/scroll.js"></script>
    <!--[if lte IE 8]>
      <style>.reading .chapters .list ol li{padding: 0 30px 0 10px;}</style>
    <![endif]-->
  </head>
  <body class="reading">
    <div class="wrapper dumascroll">
      <div class="chapters ">
        <div class="info">
            <div class="title mb3"><span>《{{book.title}}》</span></div>
            <div class="author"><span>{{book.author}}</span></div>
        </div>
        <div class="list">
          <div class="bar"><span>目录</span></div>
          <div class="clearfix mb50">
            <ol>
                {% for chapter in chapters %}
                  {% if loop.index is divisibleby 2 %}  
                  <li>
                  {% else %}
                  <li class="rt">
                  {% endif %}
                      <span>{{loop.index}}·
                          <a href="/{{book_id}}/{{chapter.id}}" title="{{chapter.title}}">
                              {{chapter.title|truncate(16, True) }}
                          </a>
                      </span>
                  </li>
                {% endfor %}
            </ol>
          </div>
        </div>
        <div class="back_reading">
            <a class="rb_btn btn btn40" href="/{{book_id}}">返回书页</a>  
        </div>
      </div>
    </div>
  </body>
</html>
