{% extends "base.html" %}

{% block title %}一碗书-体验最爽的免费小说网站|将夜|蛮荒记|求魔|武动乾坤{% endblock %}

{% block main %}
    <div class="gallary clearfix">
      <ul class="list_col list_col6">
      {% for book in recommend_books %}
          {% if loop.index is divisibleby 6 %}  
          <li class="last">
          {% else %}
          <li>
          {% endif %}
          <div class="cover">
              <a href="{{url_for('book', bid=book.id)}}" title="{{book.title}}">
                  <img src="http://yiwanshu.com/media/covers/{{book.id}}.jpg" alt="{{book.title}}" width="98px" height="128px">
              </a>
          </div>
          <div class="info">
            <div class="title">
                <a href="{{url_for('book', bid=book.id)}}" title="{{book.title}}" >{{book.title}}</a>
            </div>
            <div class="author">{{book.author}}</div>
          </div>              
        </li>
      {% endfor %} 
      </ul>
    </div>
    
    <div class="list_all">
      <div class="list_bar">
        全部小说
      </div>
      <div class="list_container">
        <ul>
            {% for book in books %}
              <li>
                  <div class="b_name">
                      <span>{{book.category.name}}|</span>
                      <a title="{{book.title}}" href="{{ url_for('book',bid=book.id) }}" >{{book.title}}</a>
                  </div>
                  <div class="c_name">
                      <a href="/{{ book.id }}/{{ book.latest_chapter.id }}" title="{{book.latest_chapter.title}}">
                          {{ book.latest_chapter.title|truncate(20, True) }}
                      </a>
                  </div>
                  <div class="a_name">
                      <a href="#" title="${book.author}">{{book.author}}</a>
                  </div>
              </li>
            {% endfor %}
        </ul>
      </div>
    </div>
{% endblock main %}
