<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>一碗书-体验最爽的免费小说网站|将夜|蛮荒记|求魔|武动乾坤</title>
    <meta name="keywords" content="小说,言情小说,穿越小说,免费小说,小说下载,好看的小说,最新章节">
    <meta name="description" content="一碗书小说网,最好的免费小说阅读网站">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1 class="title">一碗书</h1>  
        <span class="login_reg">
			{%if session['username'] %}
				<a href="{{url_for('user', username=session['username'])}}">{{session['username']}}</a><span>|</span><a href="{{url_for('logout')}}">退出</a>
			{% else%}
          		<a href="{{url_for('login')}}">登录</a><span>|</span><a href="{{url_for('register')}}">注册</a>
			{% endif%}
        </span>
      </div>  
      
      <div class="main">
        <div class="gallary clearfix">
          <ul class="list_col list_col6">
          {% for book in recommend_books %}
              {% if loop.index is divisibleby 6 %}  
              <li class="last">
              {% else %}
              <li>
              {% endif %}
              <div class="cover">
                  <a href="/{{book.id}}" target="_blank" title="{{book.title}}">
                      <img src="http://yiwanshu.com/media/covers/{{book.id}}.jpg" alt="{{book.title}}" width="98px" height="128px">
                  </a>
              </div>
              <div class="info">
                <div class="title">
                    <a href="/{{book.id}}" title="{{book.title}}" target="_blank">{{book.title}}</a>
                </div>
                <div class="author">{{book.author}}</div>
              </div>              
            </li>
          {% endfor %} 
          </ul>
        </div>
        
        <div class="list_all">
          <div class="list_bar">
            全部小说
          </div>
          <div class="list_container">
            <ul>
                {% for book in books %}
                  <li>
                      <div class="b_name">
                          <span>{{book.category.name}}|</span>
                          <a title="{{book.title}}" href="/{{book.id}}" target="_blank">{{book.title}}</a>
                      </div>
                      <div class="c_name">
                          <a href="/{{ book.id }}/{{ book.latest_chapter.id }}" title="{{book.latest_chapter.title}}">
                              {{ book.latest_chapter.title|truncate(20, True) }}
                          </a>
                      </div>
                      <div class="a_name">
                          <a href="#" title="${book.author}">{{book.author}}</a>
                      </div>
                  </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?f66c392d4a0b7dac7a131ba69e57cce5";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43467268-1', 'yiwanshu.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
