{% extends "base.html" %}

{% block title %}用户注册 —— 一碗书-体验最爽的免费小说网站|将夜|蛮荒记|求魔|武动乾坤{% endblock %}

{% block main%}
<div class="lr_form"> 
  <h2>注册一碗书，天天一碗书。</h2>
  <form id="reg_form" action="{{url_for('register')}}" method="post">
    <p>
      <label for="username">用户名</label>
      <input id="username" type="text" name="username">
      <span class="error">
          {%if empty_username_error%}
            用户名不能为空
          {%endif%}
          {%if username_invalid_error%}
            仅允许字母与数字
          {%endif%}
         {%if username_exists_error%}
            该用户名已存在
          {%endif%}
      </span>
    </p>
    <p>
      <label for="password">密码</label>
      <input id="password" type="password" name="password">
      <span class="error">
          {%if empty_password_error%}
            密码不能为空
          {%endif%}
      </span>
    </p>
    <p>
      <label for="re_password">确认密码</label>
      <input id="re_password" type="password">
      <span class="error"></span>
    </p>
    <p>
        <label>&nbsp;</label>
        <a class="btn btn274" id="reg_submit" href="javascript:void();">注册</a>	
    </p>
  </form>
</div>
{% endblock main%}
