{% extends "admin/base.html" %}

{% block page_header %}
<h1 id="type">「吃货」更新源管理</h1>
{% endblock page_header %}

{% block main%}
  <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>作品 ID</th>
            <th>源网站</th>
            <th>原地址</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>

          {% for source in sources %}
          <tr>
              <td>{{source.id}}</td>
              <td>{{source.bid}}</td>
              <td>{{source.source_site}}</td>
              <td>{{source.source_url}}</td>
              <td>{{source.create_time}}</td>
            <td>
                <a data-toggle="modal"  href="/ash/m_source/modal/{{source.id}}" data-target="#edit-source">编辑</a>
                <a data-toggle="modal" data-sid="{{source.id}}" class='delete-source-btn'href="#delete-source" >删除</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
    </table> 

    <div class="pull-right">
        <ul class="pager">
            {% if page > 1 %}
              <li><a href="/ash/m_source/page/{{page-1}}">&larr; Older</a></li>
            {% else %}
              <li class="disabled"><a href="#">Previous</a></li>
            {% endif %}
            {% if has_next %}
              <li><a href="/ash/m_source/page/{{page+1}}">Next</a></li>
            {% else %}
              <li class="disabled"><a href="#">Next</a></li>
            {% endif %}
        </ul>  
    </div>
{% endblock main %} 


{% block modal %} 
    <!-- Modal -->
      <div class="modal fade" id="edit-source" tabindex="-1" role="dialog" aria-labelledby="es-label" aria-hidden="true">
      </div><!-- /.modal -->

      <!-- Modal -->
      <div class="modal fade" id="delete-source" tabindex="-1" role="dialog" aria-labelledby="ds-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="ds-label">删除更新源</h4>
            </div>
            <div class="modal-body">
              你真的要如此狠心？
            </div>
            <form id='delete-source-form' action='/ash/m_source/modal/delete' method='post'>
                <input type='hidden' id='source-id' name='sid'>
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" onclick="$('#delete-source-form').submit()" class="btn btn-primary">确定</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

{% endblock modal %}
