{% extends "admin/base.html" %}apter.id}}</td>$
{% block page_header %}
<h1 id="type">章节管理<small> 作品ID {{bid}}</small></h1>
{% endblock page_header %}

    {% block main%}
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>章节 ID</th>
            <th>章节名</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for chapter in chapters %}
          <tr>
              <td><a target="_blank" href="{{url_for('content',bid=chapter.book_id,cid=chapter.id)}}">{{ chapter.id }}</a></td>
              <td>{{chapter.title}}</td>
              <td>{{chapter.create_time}}</td>
            <td>
                <a data-toggle="modal" data-target="#edit-chapter" href="/ash/m_chapter/modal/{{chapter.book_id}}/{{chapter.id}}" >编辑章节</a>
                <a data-toggle="modal" data-bid="{{chapter.book_id}}" data-cid="{{chapter.id}}" class='delete-chapter-btn' href="#delete-chapter" >删除</a>
            </td>
          </tr>
          {%endfor%}
</tbody>
  </table> 
  <div class="pull-right">
    <ul class="pager">
        {% if page > 1 %}
        <li><a href="/ash/m_chapter/{{bid}}/page/{{page-1}}">&larr; Older</a></li>
        {% else %}
          <li class="disabled"><a href="#">Previous</a></li>
        {% endif %}
        {% if has_next %}
        <li><a href="/ash/m_chapter/{{bid}}/page/{{page+1}}">Next</a></li>
        {% else %}
          <li class="disabled"><a href="#">Next</a></li>
        {% endif %}
    </ul>  
  </div>
</div>
{% endblock main %} 

{% block modal %} 
  <!-- Modal -->
  <div class="modal fade" id="delete-chapter" tabindex="-1" role="dialog" aria-labelledby="dc-lable" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="dc-lable">删除章节</h4>
        </div>
        <div class="modal-body">
          你真的要如此狠心？
        </div>
        <form id='delete-chapter-form' action='/ash/m_chapter/modal/delete' method='post'>
            <input type='hidden' value='' id='book-id' name='bid'>
            <input type='hidden' value='' id='chapter-id' name='cid'>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" onclick="$('#delete-chapter-form').submit()">确定</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <div id="edit-chapter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ec-lable" aria-hidden="true" style="display: none;"> </div>

{% endblock modal %}
